In [1]:
# 10th March

# Dictionary

In [4]:
# Create Dict

In [6]:
d=dict()
d

{}

In [8]:
d={}   #Empty dict
d

{}

In [12]:
d1={1:'Australia',2:'Germany',3:'New zealand'} #dict with integer keys
d1

{1: 'Australia', 2: 'Germany', 3: 'New zealand'}

In [14]:
d2=dict({1:'Australia',2:'Germany',3:'New zealand'}) #create dict using dict()
d2

{1: 'Australia', 2: 'Germany', 3: 'New zealand'}

In [16]:
d3={'A':'Australia','B':'Germany','C':'New zealand'} #dict with character keys
d3

{'A': 'Australia', 'B': 'Germany', 'C': 'New zealand'}

In [18]:
d4={5:'Australia','D':'Germany',3:'New zealand'} #dict with mixed keys
d4

{5: 'Australia', 'D': 'Germany', 3: 'New zealand'}

In [20]:
d4.keys()

dict_keys([5, 'D', 3])

In [22]:
d4.values()

dict_values(['Australia', 'Germany', 'New zealand'])

In [24]:
d4.items()

dict_items([(5, 'Australia'), ('D', 'Germany'), (3, 'New zealand')])

In [26]:
len(d4)

3

In [30]:
d={1:'one',2:'two',3:['ram','hanuman']}
d

{1: 'one', 2: 'two', 3: ['ram', 'hanuman']}

In [34]:
d={1:'one',2:'two',3:'three','A':{'Name':'Yash','Age':24},'B':('Gen AI','AI',)}
d

{1: 'one',
 2: 'two',
 3: 'three',
 'A': {'Name': 'Yash', 'Age': 24},
 'B': ('Gen AI', 'AI')}

In [36]:
keys={'a','b','c','d'}
d5=dict.fromkeys(keys)
d5

{'c': None, 'b': None, 'd': None, 'a': None}

In [40]:
keys={'a','b','c','d'}
value=10,20,30,40
d6=dict.fromkeys(keys,value)
d6

{'c': (10, 20, 30, 40),
 'b': (10, 20, 30, 40),
 'd': (10, 20, 30, 40),
 'a': (10, 20, 30, 40)}

In [42]:
keys={'a','b','c','d'}
value=[10,20,30,40,50]
d6=dict.fromkeys(keys,value)
d6

{'c': [10, 20, 30, 40, 50],
 'b': [10, 20, 30, 40, 50],
 'd': [10, 20, 30, 40, 50],
 'a': [10, 20, 30, 40, 50]}

In [44]:
value.append(60)
d6

{'c': [10, 20, 30, 40, 50, 60],
 'b': [10, 20, 30, 40, 50, 60],
 'd': [10, 20, 30, 40, 50, 60],
 'a': [10, 20, 30, 40, 50, 60]}

In [ ]:
# Accessing items

In [3]:
mydict={1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [7]:
mydict[2]

'two'

In [9]:
mydict.get(1)

'one'

In [11]:
mydict={'Name':'Yash','ID':2511,'DOB':2000,}
mydict

{'Name': 'Yash', 'ID': 2511, 'DOB': 2000}

In [13]:
mydict['Name']

'Yash'

In [15]:
mydict.get('DOB')

2000

In [17]:
#ADD , REMOVE & CHANGE ITEMS

In [35]:
d1={'Name':'Yash','ID':2511,'DOB':2000,'Address':'Hyd'}
d1

{'Name': 'Yash', 'ID': 2511, 'DOB': 2000, 'Address': 'Hyd'}

In [37]:
d1['DOB']=1999
d1['Address']='HONGKONG'
d1

{'Name': 'Yash', 'ID': 2511, 'DOB': 1999, 'Address': 'HONGKONG'}

In [41]:
dict1={'DOB':1998}
d1.update(dict1)
d1

{'Name': 'Yash', 'ID': 2511, 'DOB': 1998, 'Address': 'HONGKONG'}

In [43]:
d1

{'Name': 'Yash', 'ID': 2511, 'DOB': 1998, 'Address': 'HONGKONG'}

In [45]:
d1['job']='Engineer'
d1

{'Name': 'Yash',
 'ID': 2511,
 'DOB': 1998,
 'Address': 'HONGKONG',
 'job': 'Engineer'}

In [49]:
d1.pop('job')
d1

{'Name': 'Yash', 'ID': 2511, 'DOB': 1998, 'Address': 'HONGKONG'}

In [51]:
d1.popitem()

('Address', 'HONGKONG')

In [53]:
d1

{'Name': 'Yash', 'ID': 2511, 'DOB': 1998}

In [55]:
d1.clear()
d1

{}

In [57]:
del d1
d1

NameError: name 'd1' is not defined

In [63]:
dict1={'Name': 'Yash','ID': 2511,'DOB': 1998,'Address': 'HONGKONG','Job': 'Engineer'}
dict1

{'Name': 'Yash',
 'ID': 2511,
 'DOB': 1998,
 'Address': 'HONGKONG',
 'Job': 'Engineer'}

In [65]:
for i in dict1:
    print(i,':',dict1[i]) #key & value pair

Name : Yash
ID : 2511
DOB : 1998
Address : HONGKONG
Job : Engineer

In [67]:
for i in dict1:
    print(dict1[i])  #Dictionay items

Yash
2511
1998
HONGKONG
Engineer

In [69]:
#DICTIONARY MEMBERSHIP

In [71]:
d8={'Name': 'Yash','ID': 2511,'DOB': 2000,'Address': 'HONGKONG','Job': 'Engineer'}
d8

{'Name': 'Yash',
 'ID': 2511,
 'DOB': 2000,
 'Address': 'HONGKONG',
 'Job': 'Engineer'}

In [73]:
'Name' in d8   #Test if a key is in dict or not.

True

In [75]:
'Yash' in d8  #Membership can test only for keys.

False

In [77]:
'ID' in d8

True

# ALL / Any

The all() method returns: 
True - If all all keys of the dictionary are true 
False - If any key of the dictionary is false 
The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [80]:
d6={'Name': 'Yash','ID': 2511,'DOB': 2000,'Address': 'HONGKONG','Job': 'Engineer'}
d6

{'Name': 'Yash',
 'ID': 2511,
 'DOB': 2000,
 'Address': 'HONGKONG',
 'Job': 'Engineer'}

In [82]:
all(d8)  #will return false if any value is 0.

True